/* Untuk Tablet */
@media all and (max-width: 1000px) {
    
    .top-content {
        background-size: cover;
        height : 45vh;
        margin-bottom: -15%;
    }
    
    .welcome-title {
        padding-top: 4%;
    }
    
    .welcome-title {
        text-align: center;
        padding-top: 10%;
    }
    
    .welcome-title h1 {
        font-size: 35px;
    }
    
    .welcome-title h2{
        padding-top: 17vh;
        font-size: 30px;
    }
    
    .team-content {
        position: relative;
    }
    
    .team-highlight img {
        width: 90px;
        height: 90px;
    }

    .team-highlight:hover{
        background-color: rgb(119, 170, 252,1);
        border: 0px;
        box-shadow: 0 0 10px blue;
        color: white;
        font-size: 20px;
      }
    
    .team-highlight, .team-txt {
        margin-top: 10%;
        font-size:11px;
    }
    
    .nama{
        font-size: 11px;
    }
    
    .link-selengkap{
        text-align: center;
        position: absolute;
        bottom: 0px;
        margin: 0;
        font-size: 8px;
    }

    .link-selengkap > .fa{
        padding-right: 0px;
    }
    
    .dts-kiri h1 {
        font-size: 20pt;
        font-weight: normal;
    }
    
    .dts-kiri p {
        font-size: 10pt;
    }
    
    .logo-dts{
        height:150px;
    }
    
    .dts-kiri a {
        color: white;
        background-color: blue;
        font-size: 8pt;
        padding: 10px 20px;
    }

    .progate-kiri img {
        height: 150px;
    }

    .progate-kanan {
        padding-right: 45px;
    }

    .progate-kanan h1 {
        font-size: 20pt;
        font-weight: normal;
    }

    .progate-kanan p{
        font-size: 10pt;
    }

    .progate-kanan a {
        font-size: 8pt;
    }

    .kotak-extra-progate {
        height: 30vh;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    
    .top-content {
        background-size: contain;
        height : 35vh;
        margin-bottom: -5%;
    }
    
    header {
        height: 45px;
    }
    
    .header-right{
        position: absolute;
        right: 20px;
    }
    
    .header-left h1 {
        position: absolute;
        left: 5px;
        font-size: 16px;
        height: 45px;
    }
    
    .container {
        margin: 0 0px;
        padding: 0 0px;
    }
    
    .header-right {
        margin-right: 10%;
    }
    
    .header-right a {
        line-height: 45px;
        font-size: 10px;
    }
    
    
    .welcome-title {
        padding-top: 10%;
    }
    
    .welcome-title h1 {
        font-size: 25px;
    }
    
    .welcome-title h2{
        padding-top: 14vh;
        font-size: 16px;
    }
    
    .team-content {
        margin-bottom: 10px;
        white-space: nowrap;
        overflow: auto;
        overflow-y: hidden;
        height: 200px;
        flex-direction:row;
        display: flex;
        min-height: 28vh;
    }

    .link-selengkap{
        bottom: 2px;
    }
    
    .team-highlight {
        margin-left: 3px;
        margin-right: 3px;
        width: 15vh;
        font-size:6px;
        min-height: 26vh;
        display: inline-block;
    }

    .team-highlight-wrap{
        padding-bottom: 10px;
    }
    
    .team-highlight img {
        width: 65px;
        height: 65px;
    }
    
    .team-txt {
        white-space: normal;
        margin-top: 10%;
        font-size:10px;
    }
    
    .dts-kiri h1 {
        font-size: 20pt;
        font-weight: normal;
    }
    
    .dts-kiri p {
        font-size: 10pt;
    }
    
    .logo-dts{
        display: none;
    }
    
    .dts-kiri{
        width: 100%;
    }
    
    .dts-kiri a {
        color: white;
        background-color: blue;
        font-size: 8pt;
        padding: 10px 20px;
    }

    .dts-kanan {
        width: 0px;
    }

    .fa {
        padding-left: 10px;
    }

    .progate-kiri {
        display: none;
    }

    .progate-kanan {
        padding:10px;
        width: 100%;
        float: left;
        text-align: left;
    }

    .progate-kanan h1 {
        font-size: 20pt;
        font-weight: normal;
    }

    .progate-kanan p{
        font-size: 10pt;
    }

    .progate-kanan a {
        font-size: 8pt;
    }

    .kotak-extra-progate {
        height: 35vh;
    }

    .footer-menu, .footer-kontak, .footer-folow, .footer-coppy-right{
        display: none;
    }

    .footer-email-grup{
        width:90%;
    }

    .footer-right h1{
        text-align: center;
    }
}