* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-left h1 {
  width: 289px;
  font-family: monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  font-size: 14px;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.top-content {
  margin-bottom: -2%;
  text-align: center;
  height: 80vh;
  background-size: cover;
  background-image: url("https://progate-g6.github.io/ProgateG6Web/images/eatsleepcode.jpeg");
  background-position: 0 center;
}

.welcome-title {
  font-family: 'Lucida Sans';
  padding-top: 2%;
}

.welcome-title h1 {
  color: white;
  font-size: 65px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.welcome-title h2 {
  padding-top: 27vh;
  color: white;
  font-size: 65px;
  letter-spacing: 5px;
}

.team-content {
  margin-left: 5px;
  margin-right: 5px;
  height: 400px;
  margin-bottom: 60px;
}

.team-highlight {
  margin-right: 10px;
  margin-left: 10px;
  float: left;
  height: 100%;
  border-radius: 6px;
  width: calc(20% - 20px);
  background-color: #ecf0f1;
  border: 3px solid grey;
  text-align: center;
}

.team-highlight img {
  margin-top: 10%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.team-txt {
  margin-top: 10%;
  font-size: 18px;
}

.team-highlight a {
  color: blue;
}

.detail-content {
  width: 100%;
  height: 450px;
}

.detail-wildan {
  height: 100%;
  background-color: burlywood;
}

.detail-laeli {
  height: 100%;
  background-color: red;
}

.detail-rizky {
  height: 100%;
  background-color: green;
}

.detail-iqbal {
  height: 100%;
  background-color: grey;
}

.detail-mukhlis {
  height: 100%;
  background-color: yellow;
}

/* EKSTRA-DTS */


.dts-kiri {
  width: 70%;
  float: left;
  text-align: left;
  padding: 40px 40px 40px 80px;
}

.dts-kiri h1 {
  font-size: 40pt;
  font-weight: bold;
}

.dts-kiri p {
  text-align: justify;
  text-indent: 0.5in;
  font-size: 30pt;
  color: grey;
}

.dts-kiri a {
  color: white;
  background-color: blue;
  font-size: 18pt;
  padding: 10px 20px;
  border-radius: 4px;
  opacity: 0.8;
}

.dts-kiri a:hover {
  opacity: 1;
}

.dts-kanan {
  width: 30%;
  float: right;
  text-align: right;

}

.logo-dts {
  height: 500px;
}