* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-left h1 {
  width: 289px;
  font-family: monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
  text-shadow: 0 0 7px turquoise;
  
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  font-size: 14px;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.top-content {
  position: relative;
  margin-bottom: -2%;
  text-align: center;
  /* height: 80vh; */
  /* background-size: cover;
  background-image: url("https://progate-g6.github.io/ProgateG6Web/images/eatsleepcode.jpeg");
  background-position: 0 center; */
}

#slider {
  width: auto;
  height: 80vh;
  overflow: hidden;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 10s slider infinite;
}

#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
}

.welcome-title {
  width: 100%;
  display: block;
  margin: 0 auto;
  position: absolute;
  z-index: 10;
  font-family: 'Lucida Sans';
  top: 10%;
}

.welcome-title h1 {
  text-shadow: 0 0 7px turquoise;
  color: white;
  font-size: 65px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}


.welcome-title h2 {
  text-shadow: 0 0 7px turquoise;
  padding-top: 27vh;
  color: white;
  font-size: 65px;
  letter-spacing: 5px;
}

.team-content {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 60px;
}

.team-highlight img {
  margin-top: 10%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.team-txt {
  margin-top: 10%;
  font-size: 18px;
}

.team-highlight a {
  color: blue;
}


.team-content {
  position: relative;
  z-index: 8;
  margin-left: 5px;
  margin-right: 5px;
  display: block;
  overflow: auto;
}

.team-highlight {
  margin-right: 10px;
  margin-left: 10px;
  float: left;
  /* min-height: 24vh; */
  border-radius: 6px;
  width: calc(20% - 20px);
  background-color: rgb(89, 175, 212,0.8);
  text-align: center;
  transition: 0.3s;
}


.team-highlight:hover{
  background-color: rgb(119, 170, 252,1);
  border: 0px;
  box-shadow: 0 0 10px blue;
  color: white;
  font-size: 20px;
}
.team-highlight img {
  margin-top: 30%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition: 0.5s;
}
.team-highlight img:hover{
  transform: scale(1.3);
  cursor: pointer;
}

.nama{
  font-size: 17px;
}


.dts-kiri {
  width: 70%;
  float: left;
  text-align: left;
  padding: 40px 40px 40px 80px;
}

.dts-kiri h1 {
  font-size: 40pt;
  font-weight: bold;
}

.link-selengkap{
  color:white;
  background-color: rgba(3, 51, 163, 0.7);
  border-radius: 3px;
  padding: 7px;
  margin: 30px 30px;
  font-size: 13px;
  transition: 0.4s;
}
.link-selengkap:hover{
  background-color:  rgba(3, 51, 163,1);
  font-size: 14px;
}
.link-selengkap > .fa{
  padding-left: 18px; 
}

.team-highlight img {
  margin-top: 30%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition: 0.5s;
}
.team-highlight img:hover{
  transform: scale(1.3);
  cursor: pointer;
}

/* EKSTRA-DTS */

.kotak-extra-dts {
  display: flex;
}

.dts-kiri {
  width: 70%;
  text-align: left;
  padding: 5%; 
}

.dts-kiri h1 {
  font-size: 32pt;
  font-weight: bold;
}

.dts-kiri p {
  text-align: justify;
  text-indent: 0.5in;
  font-size: 25pt;
  color: grey;
}

.dts-kiri a {
  color: white;
  background-color: blue;
  font-size: 18pt;
  padding: 10px 20px;
  border-radius: 4px;
  opacity: 0.8;
}

.dts-kiri a:hover {
  opacity: 1;
  box-shadow: 0 0 5px blue;
}

.dts-kanan {
  width: 30%;
  float: right;
  
  text-align: center;
  padding-top: 70px;
  
}

.logo-dts {
  height: 300px;
  
}

/*------------------FOOTER---------------------*/
li {
  list-style: none;
}
footer{
  font-family: Arial, Helvetica, sans-serif;
}

.footer{
  background-color: #111111;
  color: white;
  height: 320px;
  padding: 2% 10%;
}

footer a {
  color: white;
}

.footer-menu, .footer-kontak, .footer-folow, .footer-email-grup{
  float: left;
  width: 25%;
}


.footer-menu li, .footer-kontak li, .footer-folow li, .footer-email-grup li{
  padding-bottom: 10px;
  font-size: 11pt;
}

.fa{
  padding-right: 10%;
  color: white;
  transition: 0.3s;
}

.fa:hover{
  color: aqua;
  transform: scale(1.2);
}

.footer-right {
  float: right;
  margin: 0 20px 0 0;
}

.suport{
  background-color: white;
  padding: 10px;
  height: 50px;
  width: 130px;
  padding-top: 13px;
}
.suport img{
  height: 30px;
}

.footer-right h1{
  text-align: right;
  width: 289px;
  font-family: monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
  text-shadow: 0 0 7px turquoise;
}

.footer-coppy-right{
  text-align: center;
  padding: 5px 0;
  background-color: #141414;
  color:aqua;
  font-weight: bold;
  font-size: 10pt;
}

.logo-dts {
  height: 500px;
}

/*progate */

.kotak-extra-progate {
  height: 70vh;
  margin-bottom: 10vh;
}

.progate-kanan {
  width: 65%;
  float: right;
  text-align: right;
  padding-top: 60px;
  padding-right: 100px;
  
}

.progate-kanan h1 {
  font-size: 30pt;
  font-weight: bold;
}

.progate-kanan p {
  text-align: justify;
  text-indent: 0.5in;
  font-size: 25pt;
  color: grey;
}

.progate-kanan a {
  color: white;
  background-color: blue;
  font-size: 18pt;
  padding: 10px 20px;
  border-radius: 4px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.progate-kanan a:hover {
  opacity: 1;
}

.progate-kiri {
  width: 35%;
  float: left;
  text-align: left;
  padding-top: 7vh;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 5vw;
}

.progate {
  height: 300px;
}
