/* Untuk Tablet */
@media all and (max-width: 1000px) {
    /* BAGIAN TOP  */

    .top-kiri {
        padding-top: 6%;
    }

    .logo-dts {
        width: 150px;
    }

    /* BAGIAN KONTEN */
    .logo-konten {
        width: 30%;
    }

    .penjelasan-konten {
        width: 55%;
    }

    .penjelasan-konten h1 {
        font-size: 14px;
    }

    .penjelasan-konten p {
        font-size: 11px;
        text-align: justify;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    header {
        height: 45px;
    }
    .header-right a{
        font-size: 10px;
        padding:0 15px;
        line-height: 45px;
    }
    .header-right{
        position: absolute;
        right: 10px;
    }
    
    .header-left h1 {
        position: absolute;
        left: 5px;
        font-size: 16px;
        height: 45px;
    }

    .footer-menu, .footer-kontak, .footer-folow, .footer-coppy-right{
        display: none;
    }

    .footer-email-grup{
        width:90%;
    }

    .footer-right h1{
        text-align: center;
    }
}
