/* Untuk Tablet */
@media all and (max-width: 1000px) {
    /* BAGIAN TOP  */

    .top-kiri {
        padding-top: 6%;
    }

    .logo-dts {
        width: 150px;
    }

    /* BAGIAN KONTEN */
    .logo-konten {
        width: 30%;
    }

    .penjelasan-konten {
        width: 55%;
    }

    .penjelasan-konten h1 {
        font-size: 14px;
    }

    .penjelasan-konten p {
        font-size: 11px;
        text-align: justify;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    header {
        height: 45px;
    }

    .header-right a {
        font-size: 10px;
        padding: 0 15px;
        line-height: 45px;
    }

    .header-right {
        position: absolute;
        right: 10px;
    }

    .kotak-top {
        margin-top: 10vh;
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .top-kiri {
        width: 100%;
        padding: 0;
        display: block;
        margin: 0 auto;
    }

    .top-kanan {
        width: 100%;
        padding: 0;
        display: block;
        margin: 0 auto;
    }

    .logo-dts {
        width: 40px;
    }

    .top-kanan h1 {
        margin-bottom: 10px;
        padding: 0;
        font-size: 12pt;
    }

    .top-kanan a {
        font-size: 12pt;
    }

    .image-titik {
        width: 10px;
        height: 10px;
    }

    .kotak-kontens {
        width: 95%;
        /* padding: 10px; */
        height: 30vh;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .kotak-kontens:hover {
        height: 35vh;
    }

    .kotak-penjelasan p {
        text-indent: 0.2in;
        font-size: 10pt;
    }

    .kotak-konten {
        display: flex;
        position: relative;
    }

    .penjelasan-konten {
        width: 100%;
        margin: 0;
        z-index: 3;
        position: absolute;
        top: 70%;
        transition: all 0.5s;
    }


    .penjelasan-konten:hover {
        width: 90%;
        top: 60%;
        height: 120px;
    }

    .logo-konten img {
        width: 55px;
        height: 55px;
        padding: 1px;
        background-color: white;
        border-radius: 20px;
        border: 4px solid white;
        box-shadow: 0px 10px 20px rgb(224, 222, 222);
    }

    .footer-right h1 {
        margin-bottom: 0px;

    }

    .header-left h1 {
        position: absolute;
        left: 15px;
        font-size: 16px;
        height: 45px;
    }

    .logo-konten {
        position: relative;
        z-index: 5;
        float: none;
        display: block;
        margin: 0 auto;
    }

    .footer-menu,
    .footer-kontak,
    .footer-folow,
    .footer-coppy-right {
        display: none;
    }

    .footer-email-grup {
        width: 90%;
    }

    .footer-right h1 {
        text-align: center;
    }
}