* {
  text-decoration: none;
}

/* BAGIAN HEADER  */

.header-kiri {
  width: 30%;
  float: left;
  text-align: left;

}

.logo-dts {
  height: 500px;
}

.header-kanan {
  width: 70%;
  float: right;
  text-align: center;
  padding: 180px 0px 0px 0px;
}

.header-kanan h1 {
  font-size: 40pt;
  line-height: 0px;

}

.header-kanan a {
  font-weight: normal;
  font-size: 30pt;
  color: grey;
  line-height: 0px;
}

.titik {
  color: rgb(79, 233, 79);
  font-size: 200pt;

}