/* Untuk Tablet */
@media all and (max-width: 1000px) {

    .header-right{
        position: absolute;
        right: 20px;
    }
    
    .top-content {
        background-size: cover;
        height : 45vh;
        margin-bottom: -15%;
    }
    
    .welcome-title {
        padding-top: 4%;
    }
    
    .welcome-title {
        text-align: center;
        padding-top: 10%;
    }
    
    .welcome-title h1 {
        font-size: 35px;
    }
    
    .welcome-title h2{
        padding-top: 12vh;
        font-size: 30px;
    }
    
    .team-content {
        height: 250px;
    }
    
    .team-highlight img {
        width: 90px;
        height: 90px;
    }
    
    .team-highlight, .team-txt {
        margin-top: 10%;
        font-size:11px;
    }
    
    .detail-content img {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 100px;
    }
    
    .content-sosmed{
        margin-top: 10px;
        font-size: 25px;
    }
    
    .detail-content-wildan, .detail-content-rizki, .detail-content-laeli, .detail-content-iqbal, .detail-content-muklis{
        height: 62%;
    }
    
    .detail-wildan > .content-left,  .detail-laeli > .content-left, .detail-muklis > .content-left{
        position: absolute;
        left:40%;
        top: 5%;
    }
    
    .detail-wildan >.content-right, .detail-laeli >.content-right, .detail-muklis >.content-right {
        max-width: 90%;
        position: absolute;
        left: 5%;
        top: 40%;
    }
    
    .list-satu, .list-dua, .list-tiga, .list-empat, .list-lima{
        margin: 1% 0 0 5vw;
        padding:5px;
    }
    
    ul {
        padding-left: 0px;
    }
    
    li {
        font-size: 14px;
    }
    
    .list-satu > h2, .list-dua > h2, .list-tiga > h2, .list-empat > h2, .list-lima > h2{
        font-weight: 900;
        font-size: 14px;
    }
    
    .detail-rizki > .content-right, .detail-iqbal > .content-right {
        left: 40%;
        top: 5%;
        right: unset;
    }
    
    .detail-rizki > .content-left, .detail-iqbal > .content-left {
        max-width: 90%;
        position: absolute;
        left: 5%;
        top: 40%;
    }
    
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    
    .top-content {
        background-size: contain;
        height : 35vh;
        margin-bottom: -5%;
    }
    
    header {
        height: 45px;
    }
    .header-right{
        position: absolute;
        right: 20px;
    }
    
    .header-left h1 {
        position: absolute;
        left: 15px;
        font-size: 16px;
        height: 45px;
    }
    
    .container {
        margin: 0 0px;
        padding: 0 0px;
    }
    
    
    .header-right a {
        line-height: 45px;
        font-size: 10px;
    }
    
    
    .welcome-title {
        padding-top: 10%;
    }
    
    .welcome-title h1 {
        font-size: 25px;
    }
    
    .welcome-title h2{
        padding-top: 14vh;
        font-size: 16px;
    }
    
    .detail-content img {
        width: 65px;
        height: 65px;
    }

    .detail-content-wildan, .detail-content-rizki, .detail-content-laeli, .detail-content-iqbal, .detail-content-muklis{
        height: 57%;
    }
    
    i {
        font-size: 12px;
    }
    
    .fa-whatsapp, .fa-envelope,.fa-instagram {
        padding: 5px 5px;
    }
    
    .content-sosmed{
        font-size: 15px;
    }

    .content-right h1, .content-left h1 {
        font-size: 22px;
    }

    .content-right h2, .content-left h2 {
        font-size: 22px;
    }

    .content-right p , .content-left p{
        font-size: 14px;
    }
    
    .detail-wildan > .content-left,  .detail-laeli > .content-left, .detail-muklis > .content-left{
        position: absolute;
        left:35%;
        top: 5%;
    }

    .detail-wildan >.content-right, .detail-laeli >.content-right, .detail-muklis >.content-right {
        top: 30%;
    }
    
    .detail-rizki > .content-right, .detail-iqbal > .content-right {
        left: 35%;
        top: 5%;
        right: unset;
    }

    .detail-rizki > .content-left, .detail-iqbal > .content-left {
        top: 30%;
    }
    
    li {
        font-size: 10px;
    }
    
    .list-satu > h2, .list-dua > h2, .list-tiga > h2, .list-empat > h2, .list-lima > h2{
        padding: 3px;
        font-weight: 900;
        font-size: 10px;
    }

    .list-satu, .list-dua, .list-tiga, .list-empat, .list-lima{
        width: 22%;
        margin: 1% 0 0 1vh;
    }

    .footer-menu, .footer-kontak, .footer-folow, .footer-coppy-right{
        display: none;
    }

    .footer-email-grup{
        width:90%;
    }

    .footer-right h1{
        text-align: center;
    }
    
}