/* Untuk Tablet */
@media all and (max-width: 1000px) {
    
    .top-content {
        background-size: cover;
        height : 45vh;
        margin-bottom: -15%;
    }
    
    .welcome-title {
        padding-top: 4%;
    }
    
    .welcome-title {
        text-align: center;
        padding-top: 10%;
    }
    
    .welcome-title h1 {
        font-size: 35px;
    }
    
    .welcome-title h2{
        padding-top: 5vh;
        font-size: 30px;
    }
    
    .team-content {
        height: 250px;
    }
    
    .team-highlight img {
        width: 90px;
        height: 90px;
    }
    
    .team-highlight, .team-txt {
        margin-top: 10%;
        font-size:11px;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    
    .top-content {
        background-size: contain;
        height : 35vh;
        margin-bottom: -5%;
    }
    
    header {
        height: 45px;
    }

    .header-right{
        position: absolute;
        right: 20px;
    }
    
    .header-left h1 {
        position: absolute;
        left: 5px;
        font-size: 16px;
        height: 45px;
    }

    .menu-icon{
        display: block;
      }
    
    .container {
        margin: 0 0px;
        padding: 0 0px;
    }
    
    .header-right {
        margin-right: -10%;
    }
    
    .header-right a {
        line-height: 45px;
        font-size: 10px;
    }
    
    
    .welcome-title {
        padding-top: 10%;
    }
    
    .welcome-title h1 {
        font-size: 25px;
    }
    
    .welcome-title h2{
        padding-top: 14vh;
        font-size: 16px;
    }
    
    .team-content {
        margin-bottom: 10px;
        white-space: nowrap;
        overflow: auto;
        overflow-y: hidden;
        display: flex;
        height: 200px;
        scroll-snap-type: x mandatory;  
        flex-direction:row;
    }
    
    .team-highlight {
        scroll-snap-align: start;
        font-size:6px;
        flex-shrink: 0;
        height: 100%;
        width: 35%;
    }
    
    .team-highlight img {
        width: 65px;
        height: 65px;
    }
    
    .team-txt {
        word-wrap: break-word;
        margin-top: 10%;
        font-size:10px;
    }
}